.HideAndShow {
    width: 80vw;
    border: 1px solid gray;
    border-radius: 5px;
}

.HideAndShow-title {
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}